Repository Plutonomicon/cardano-transaction-lib, pull requests merged in 2022-07, with the labels that each got.

#696 Return error if no utxo is specified for a tx input & Fix transaction inputs locking
  CHANGELOG.md
  src/BalanceTx.purs
  src/Contract/Transaction.purs
Labels: bug, backport

#733 Upgrade Haskell server to fully support Babbage-era transactions
  CHANGELOG.md
  flake.lock
  flake.nix
  server/cabal.project
  server/ctl-server.cabal
  server/nix/default.nix
  server/src/Api/Handlers.hs
  server/src/Ogmios/Parser.hs
  server/src/Plutus/Instances.hs
  server/src/Types.hs
  server/test/Main.hs
Labels: haskell server, babbage

#470 Plutip integration
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
  doc/ctl-as-dependency.md
  doc/development.md
  doc/getting-started.md
  doc/plutip-testing.md
  doc/runtime.md
  examples/AlwaysMints.js
  examples/AlwaysMints.purs
  examples/AlwaysSucceeds.js
  examples/AlwaysSucceeds.purs
  examples/MintsMultipleTokens.js
  examples/MintsMultipleTokens.purs
  flake.lock
  flake.nix
  nix/default.nix
  package-lock.json
  package.json
  server/src/Ogmios/Query.hs
  spago-packages.nix
  spago.dhall
  src/BalanceTx/BalanceTx.purs
  src/Contract/Test/Plutip.purs
  src/Contract/Wallet.purs
  src/Plutip/Server.purs
  src/Plutip/Spawn.purs
  src/Plutip/Types.purs
  src/Plutip/Utils.js
  src/Plutip/Utils.purs
  src/QueryM.purs
  src/Wallet/Key.purs
  test/E2E.purs
  test/Main.purs
  test/Plutip.purs
  test/Unit.purs
  test/Utils.purs
Labels: plutip
